*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}
.main{
    display: flex;
    max-width: 808px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.flip-card{
    margin: 1px;
    min-width: 200px;
    height: 130px;
    border: 1px solid #123453;
    perspective: 1000px; 
    box-sizing: border-box;
}
.flip-card-inner{
    width: 100%;
    height: 100%;
    background-color: rgb(73, 207, 207);
    transition: all .7s;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
    
} */
.flip{
    transform: rotateY(180deg);
}
.flip-card-front,.flip-card-back{
    position: absolute;
    backface-visibility: hidden;
    text-align: center;

}
.flip-card-back{

    width: 100%;
    height: 100%;
    background-color: burlywood;
    transform: rotateY(180deg);
}

