.container{
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 50%;
    border: 3px solid black;
    min-width: 600px;
    /* min-height: 6px; */
}
.name{
    font-size: 30px;
    background-color: red;
    width: fit-content;
    padding: 20px;
    margin: auto;
    margin-bottom: -20px;
}
.inner_container {
    display: flex;
    margin: 15px;
    border: 3px solid rgb(67, 98, 155);
    padding: 20px;
}
.blue_line{
    width: 6px;
    height:inherit;
    margin-right: 15px;
    background-color: darkblue;
}
.content{
    width: 90%;
    /* text-align: justify; */
    padding: 5px 10px 5px 10px;
}