.app_outer{
    background-image: url("https://images.unsplash.com/photo-1612392062126-5cc76074df9c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    background-position: center;
    background-size: cover;
}
.app_inner{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.7);
    
}

/* .app::after{
    
 content: "";
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: hsla(190, 0%, 40%, 0.1);
 pointer-events: none;
} */

.app:after {
    content: '';
    background: rgba(255, 255, 255, .5);
}