.card {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 10px;
}

.card__image {
    height: 80%;
    
}

.card__image img {
    height: 100%;
    border-radius: 10px;
}