.container{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px ;
    /* box-shadow: 10px 0px 10px 7px rgba(169,157,157,0.67);
    -webkit-box-shadow: 10px 0px 10px 7px rgba(169,157,157,0.67);
    -moz-box-shadow: 10px 0px 10px 7px rgba(169,157,157,0.67); */
    
}
.card{
    /* background-color: aqua; */
    border: 2px solid black;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    height: 400px;
}
.card__image{
    height:75%;
    width: 100%;
}
.card__image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card__heading{
    margin:15px 0px;
}