body{
    background:#000000;
    text-align: center;
}

.clock{
    background-size: cover;
    width: 500px;
    height: 500px;
    background: radial-gradient(rgb(39, 39, 39),rgb(5, 0, 0));
    box-shadow:0 0px 10px 10px rgb(255 255 255 / 20%),0 0px 10px 10px rgb(255 255 255 / 20%);
    display: inline-block;
    border-radius: 50%;
    border: 10px solid black;
    padding: 20px;
}

.sec{

    height:250px;
    width:10px;
    border-radius: 10px;
    background: #E21717;
    line-height: 45px;
    color :seagreen;
    position: relative;
    left: 252px;
    top: 5px;
    z-index: 3;
    transform-origin: bottom;
    animation: sec_anim 60s linear infinite;
}
.hour{
    height:180px;
    width:10px; 
    border-radius: 10px;
    background: radial-gradient(
        black,yellow);
    line-height: 45px;
    color :white;
    position: relative;
    left: 254px;
    top: -377px;
    z-index: 1;
    transform-origin: bottom;
    animation: hr_anim 43200s linear infinite;
}
.min{
    height:200px;
    width:15px;
    border-radius: 10px;
    background: radial-gradient(
        black,blue);
    line-height: 45px;
    color :white;
    position: relative;

    left: 245.5px;
    top: -198px;

    z-index: 2;   
    animation: min_anim 600s linear infinite;
    transform-origin: bottom;
}

@keyframes sec_anim {
    from{transform:rotateZ(0deg);}
    to{transform:rotateZ(360deg);}
    
}
@keyframes hr_anim {
    from{transform:rotateZ(0deg);}
    to{transform:rotateZ(360deg);}
    
}
@keyframes min_anim {
    from{transform:rotateZ(0deg);}
    to{transform:rotateZ(360deg);}
    
}